@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}


body {
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.header__top {
  width: 100%;
  height: 10vh;
  position: fixed;
  background-color: #BC2A87;
}

.header__top ul {
  text-align: center;
}

.header__top li {
  display: inline-block;
  padding-right: 20px;
  padding-top: 25px;
}

.header__top a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.header__bottom {
  height: 100vh;
  background-image: url("/static/img/background_img.jpg");
  background-position: center;
  background-size: 100% 100%;
}

.header__bottom .title {
  padding-top: 70vh;
  text-align: center;
  color: #fff;
}

.header__bottom h1 {
  line-height: 45px;
  font-size: 50px;
  font-weight: 600;
}

.header__bottom h2 {
  line-height: 30px;
  font-size: 26px;
  font-weight: 600;
}

.container {
  padding: 80px 80px;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 35px;
  text-align: center;
  font-weight: 400;
}

.flex__container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  padding: 80px 40px;
}

.flex-item h4 {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 30px;
  color: #000;
}

.flex-item h3 {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 30px;
  color: #000;
}

.advantages {
  width: 400px;
  height: 200px;
  background-color: #ededed;
  margin-top: 50px;
}

.advantages p {
  line-height: 16px;
  padding: 15px 15px;
}

.advantages > p > i {
  padding-right: 20px;
  color: #BC2A87;
}

.service {
  height: 100vh;
  background-color: #BC2A87;
}

.service .services {
  color: #fff;
}

.service .subtitle {
  padding-top: 40px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.flex-item h3, h5 {
  color: #fff;
  text-align: center;
  width: 150px;
}

.flex-item > i {
  color: #FEE16F;
  font-size: 50px;
  text-align: center;
  padding: 0 50px 50px;
}

.gallery {
  height: 120vh;
}
.gallerys h2 {
  font-weight: 400;
  padding: 100px 0;
}
.gallery .flex-item {
  padding: 0;
}
.gallery img {
  width: 100%;
}

.contact {
  height: 120vh;
  background: #BC2A87;
}
.contacts, .subtitle {
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}
.form {
  margin: 0 auto;
}
.form p {
  color: #ff8fee;
  font-size: 20px;
  font-weight: 700;
}
input {
  display: block;
  width: 50%;
  background: transparent;
  border: 2px solid #fff;
  margin: 10px;
  padding: .6em 1.4em .5em .8em;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
}
.selecting select {
  display: block;
  width: 50%;
  background: none;
  margin: 10px;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  font-size: 16px;
  border: 2px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
}

.send > input {
  width: 300px;
  background-color: yellow;
  border: none;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 25px;
}
