<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut item" href="img/favicon.ico" type="image/x-icon">
  <title>Салон красоты "Beauty"</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
</head>
<body>
  <section class="contact" id="contact">
    <div class="container">
      <div class="section-title contacts">
        <h2>Запись к мастеру</h2>
      </div>
      <div class="subtitle">
        <p>{{ message }}</p>
        <!-- <p>Число просмотров: {{ session['visits'] }}</p> -->
      </div>
      <form class="form" action="{{ url_for('address') }}" method="post">
        <p class="name">
          <label> Фамилия и имя:</label>
          <input type="text" name="username" value=" " required />
        </p>
        <p class="phone">
          <label>Номер телефона:</label>
          <input type="tel" name="phone_number" value=" " required />
        </p>
        <p class="selecting">
          <label>Выберите процедуру:</label>
          <select name="selecting">
            <option>Классический массаж</option>
            <option>Шоколадное обвертывание</option>
            <option>Банные процедуры</option>
            <option>Иглоукалывание</option>
          </select>
        </p>
        <p class="send" >
          <input type="submit" value="Отправить"  />
        </p>
      </form>
    </div>

  </section>
</body>
</html>
