<!DOCTYPE html>
<html lang="ru">
</html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut item" href="img/favicon.ico" type="image/x-icon">
  <title>Салон красоты "BEAUTY"</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
</head>
<body>
  <header>
    <div class="header__top">
      <nav class="menu">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#about">О нас</a></li>
          <li><a href="#service">Наши услуги</a></li>
          <li><a href="#gallery">Галерея</a></li>
          <li><a href="{{ url_for('contact') }}">Записаться</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__bottom">
      <div class="title">
        <h1>BEAUTY</h1>
        <h2>BEAUTY CAN BE SEEN IN ALL THINGS</h2>
      </div>
    </div>
  </header>
  <section class="about" id="about">
    <div class="container">
      <div class="section-title abouts">
        <h2>О нас</h2>
      </div>
      <div class="flex__container">
        <div class="flex-item">
          <img src="static/img/about.png" alt="about">
        </div>
        <div class="flex-item">
          <h4>Коротко о нас</h4>
          <p>
            Мы фанаты красоты и моды: это заметно и в интерьерах салонах, и в самом современном дизайне маникюра и в стильных прическах и макияже наших клиентов.
            Мы молоды, современны и в постоянном профессиональном развитии: высокое качество услуг - это наш кодекс чести. Мы сделали цены на услуги доступными: нам важно помогать другим раскрывать их красоту. Только выбирай, что тебе нужно: подчеркнуть цвет глаз эффектным изгибом бровей и пушистыми ресницами или сделать лучший маникюр в городе? Девушки приходят за маникюром или педикюром, а уходят с мечтой “хочу также”.</p>
            <div class="advantages">
              <p><i class="fa fa-check-circle-o"></i>Мы сочетаем классику с инновациями, высокое качество с разумными ценами</p>
              <p><i class="fa fa-check-circle-o"></i>Мы ценим красоту во всех ярких проявлениях жизни</p>
              <p><i class="fa fa-check-circle-o"></i>Творим, создаем, воплощаем свои и ваши смелые идеи!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="service" id="service">
      <div class="container">
        <div class="section-title services">
          <h2>Наши услуги</h2>
        </div>
        <div class="subtitle">
          <p>Широкая линейка используемых косметических средств позволяет подобрать то, что подходит именно Вам.</p>
        </div>
        <div class="flex__container">
          <div class="flex-item">
            <i class="fa fa-tree"></i>
            <h3>Комфортные условия</h3>
            <h5>Качественный сервис, кондиционер, WI-FI, зерновой кофе</h5>
          </div>
          <div class="flex-item">
            <i class="fa fa-crosshairs"></i>
            <h3>Опытные мастера</h3>
            <h5>Квалифицированный и отзывчивый персонал</h5>
          </div>
          <div class="flex-item">
            <i class="fa fa-building-o"></i>
            <h3>Новейшие технологии</h3>
            <h5>Проверенные поставщики. Инновационные техники и инструменты.</h5>
          </div>
          <div class="flex-item">
            <i class="fa fa-twitter"></i>
            <h3>Отзывчивый персонал</h3>
            <h5>Наши сотрудники проводят бесплатные консультации.</h5>
          </div>
        </div>
      </div>
    </section>
    <section class="gallery" id="gallery">
      <div class="section-title gallerys">
        <h2>Галерея</h2>
      </div>
      <div class="flex__container">
        <div class="flex-item">
          <img src="static/img/item1.jpg" alt="item">
        </div>
        <div class="flex-item">
          <img src="static/img/item2.jpg" alt="item">
        </div>
        <div class="flex-item">
          <img src="static/img/item3.jpg" alt="item">
        </div>
        <div class="flex-item">
          <img src="static/img/item4.jpg" alt="item">
        </div>
      </div>
    </div>
  </section>

</body>
</html>
