<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut item" href="img/favicon.ico" type="image/x-icon">
  <title>Салон красоты "BEAUTY"</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
</head>
<body>
  <section class="service">
    <div class="subtitle">
      {% for row in rows %}
      <p>Ваша заявка под номером {{row["ID"]}} - {{ session['visits'] }} </p>
      {% endfor %}
    </div>
    <div class="subtitle">
      <p>Заполненные данные:</p>
      {% for row in rows %}
      <p>Фамилия и имя: {{row["username"]}}</p>
      <p>Контактный номер: {{row["phone_number"]}}</p>
      <p>Выбранная процедура: {{row["selecting"]}}</p>
      {% endfor %}
      <p>Ожидайте звонка менеджера :)</p>
      <div class="subtitle">
        <a href = "/contact">Вернуться назад</a>
      </div>
    </div>
  </section>
</body>
</html>
